<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>685645780282-8ekari69kpjupnplcv406ufbfou27a6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685645780282-8ekari69kpjupnplcv406ufbfou27a6i</string>
	<key>API_KEY</key>
	<string>AIzaSyAUqwutXxh0yms-BIBhQG7XFF2kHqH4LJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>685645780282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SSobell.GymApp</string>
	<key>PROJECT_ID</key>
	<string>gym-app-7bda9</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-app-7bda9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:685645780282:ios:588c2d150dd80d95</string>
	<key>DATABASE_URL</key>
	<string>https://gym-app-7bda9.firebaseio.com</string>
</dict>
</plist>